
@media only screen and (max-width: 600px) {
    .navigationbar {grid-area: 1 / span 6;}
    .navbars {grid-area: 2 / span 6;}
    .improvecharge {grid-area: 3 / span 6;}
    .salary {grid-area: 4 / span 6;}
    .products {grid-area: 5 / span 6;}
  }
.navigationbar{
    display: flex;
    max-width: 100%;
    background-color: rgb(228, 228, 248);
}
.firstpage{
    background-color: rgb(228, 228, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.navbars{
    display: flex;
}
.navigationlink{
    display: flex;
    gap:5cm ;
    list-style: none;
    margin-top: 2cm;
    margin-left: 5cm;
    
    
}
.navigationlink a{
    color: black;
    text-decoration: none;
}
.navigationlink a:hover{
    color: blue;
}
.navigationbutton{
    margin-top: 1.5cm;
    margin-left: 2cm;
}
#login{
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    

}
#login:hover{
    color: blue;
}
#signup{
    margin-left: 2cm;
    height: 1.5cm;
    width: 3.5cm;
    background-color: rgb(245, 186, 196);
    border-radius: 0.5cm;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#signup:hover{
    background-color: black;
}
#applebutton{
    width: 6cm;
    height: 2cm;
    color: white;
    background-color: rgb(7, 7, 90);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 0.5cm;
    border: none;
    
}
#playstorebutton{
    width: 6cm;
    height: 2cm;
    margin-left: 2cm;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 0.5cm;
    border: solid 1px rgb(7, 7, 90);
    
}
#playstorewords{
    margin-top: -3cm;
    color: rgb(7, 7, 90);
}
.improvecharge{
    display: flex;
    margin-top: 3cm;
    background-color: rgb(228, 228, 248);
    
    
}
.salarytestmonials{
    
    padding-right: -1cm;
    rotate: -10deg;
    margin-left: 5cm;
}
.charge{
    color: rgb(3, 3, 80);
    margin-left: 5.9cm;
    max-width: 100%;
    font-size: xx-large;
}
#chargelink{
    color: red;
}
#contactuslink{
    color: rgb(3, 3, 80);
    font-weight: bold;  
}
.roger{
    display: flex;
    margin-left: 6cm;
    
}
#imageroger{
    height: 2cm;
    border: solid;
    border-radius: 50%;
}
#workingdays{
    margin-top: 3cm;
    margin-left: 2.5cm;
}
.salary{
    display: block;
}
.salary{
    margin-left: 6cm;
    margin-top: 2cm;
    display: flex;
}
#salaryimage{
    margin-left: 2cm;
    height: 6cm;
    width: 6.5cm;
    /* border: solid; */
    border-radius: 1cm;
}
.speed{
    display: flex;
    margin-left: 6cm;
    /* border: solid; */
    width: 6cm;
    position: absolute;
    margin-top: -2cm;
    background-color: white;
    border-radius: 0.5cm;
}
#percentage{
    margin-left: 1.5cm;
}
.softwarebusiness{
    margin-top: 4cm;
}
.softwareparag{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.logos img{
    height: 3cm;
    
}
#microimage{
    height: 1.5cm;
    margin-bottom: 0.9cm;
    margin-left: 5.2cm;
}
#logosimage{
    
    margin-left: 1.5cm;
}
.products{
    margin-top: 3cm;
    background-color: rgb(228, 228, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.productsparag{
    text-align: center;
}
.productsweweorkwith{
    display: flex;
    margin-left: 5.9cm;
}
.easyinterface{
    border: solid pink;
    background-color: white;
    height: 7cm;
    width: 9cm;
}
#staricon{
    margin-left: 3.5cm;
    /* border: solid; */
    margin-top: 1cm ;
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    background-color: rgb(248, 219, 224);
}
.securedtransfers{
   
    margin-left: 5cm;
    background-color: white;
    height: 7cm;
    width: 9cm;
}
#equalizer{
    margin-left: 3.5cm;
    margin-top: 1cm;
    border-radius: 50%;
    background-color: rgb(176, 250, 250);
}
.support{
    
    margin-left: 5cm;
    background-color: white;
    height: 7cm;
    width: 9cm;
}
#leaficon{
    margin-left:3.5cm ;
    margin-top: 1cm;
    /* border: solid; */
    height: 1cm;
    width: 1cm;
    border-radius: 50%;
    background-color: rgb(248, 219, 224);
}
#productheading{
    text-align: center;
}
#prodparagrapgh{
    text-align: center;
}
#wordproduct{
    color: red;
    text-decoration: underline;
}
.innumbers{
    display: flex;
    margin-top: 3cm;
    margin-left: 6cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;

}
.actualnumbers{
    display: flex;
}
#ditionumbers{
    color: red;
    text-decoration: underline;
}
#numberstext{
    
    font-weight: bold;
}
.activeuser{
    margin-left: 3cm;
}
.watching{
    display: flex;
}
#watchcreateaccount{

}
/* .emptycontainer{
    border: solid;
    width: 7cm; */

.studywithme{
    display: flex;
}
.howtocreateaccount{
    margin-left: 4cm;
}
.creatinganaccount{
    border: solid;
    background-color: white;
    width: 15cm;
    border-radius: 0.5cm;
    margin-left: 2cm;
}
#watchcreateaccount{
    width: 3cm;
    height: 1cm;
    border-radius: 1cm;
    border: none;
    color: white;
    background-color: rgb(79, 79, 241);
    position: absolute;
    margin-left: -3.5cm;
    margin-top: 2cm;
}
#blueman{
    margin-left: 2cm;
    margin-top: 1cm;
    border: solid 4px rgb(51, 51, 231);
    border-radius: 50%;
}
.anchorstudywithme{
    margin-left: 2cm;
    margin-top: 2cm;
}
#anchoricon{
    margin-left: 1cm;
}
#joinbutton{
    width: 3.5cm;
    height: 1.5cm;
    border-radius: 2cm;
    background-color: rgb(228, 100, 143);
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
}
#womancircle{
    margin-left: 1.5cm;
    margin-top: -1cm;
    border: solid 4px rgb(51, 51, 231);
    border-radius: 50%;
}
.helpingcusstomers{
    text-align: center;
    margin-top: 3cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
#textcolor{
    color: red;
    text-decoration: underline;
}
.appinterface{
    display: flex;
    margin-top: 2cm;
}

.mobileapp{
    margin-left: 6cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(1, 1, 44);
}
#knowbutton{
    height: 2cm;
    width: 5cm;
    border-radius:0.5cm;
    color: white;
    background-color:  rgb(1, 1, 44);
    font-weight: bolder;

}
.settingsaccount{
    margin-left: 5cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    rotate: 15deg;
}
.designer{
    display: flex;
    margin-top: 1.5cm;
}
#persondesigner{
    margin-top: -0.4cm;
    margin-left: 1cm;
}
#worddesigner{
    font-weight: lighter;
    color: grey;
}
#designerarrow{
   margin-left: 3cm;
   color: grey;
}
.languagesetting{
    display: flex;
}
#frawnface{
    color: orange;
    margin-top: 0.7cm;
    
}
#lang{
    margin-left: 0.5cm;
}
#english{
    margin-left: 1cm;
    font-weight: lighter;
    font-size: small;
    margin-top: 0.8cm;
    color: grey;
}
#designerarrows{
    margin-top: 0.6cm;
    margin-left: 2cm;
   color: grey;
}
.boostsocialapp{
    margin-left: 5cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 2.5cm;
    rotate: 15deg;
}
#boostsocialtext{
    text-align: center;
}
#loginsocials{
    margin-left: 1cm;
    width: 5.6cm;
    height: 1.5cm;
    border-radius: 0.5cm;
    font-weight: bold;
    font-size: large;
    background-color: white;
    border: solid 2px;
}
#signupsocials{
    margin-left: 1cm;
    width: 5.6cm;
    height: 1.5cm;
    margin-top: 0.5cm;
    border-radius: 0.5cm;
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: palevioletred;
    border: none;
}
.profile{
    margin-top: 2cm;
}
#profilepic{
    border: solid;
    margin-left: 1.5cm;
    width: 4cm;
    height: 4cm;
    border-radius: 50%;
    margin-top: -2.6cm;
}
#notificationbell{
    margin-left: 6cm;
}
#leftarrowpic{
    margin-top: -2cm;
    
}
.iconprofile{
    margin-top: 1.5cm;
}
.businesspeople{
    display: flex;
    margin-top: 3cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-left: 6cm;
    justify-content: space-between;
}
.wordsfromclients{
    text-align: center;
    margin-top: 2cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
#somewords{
    color: red;
    text-decoration: underline;
}
.edwinbusinessman{
    border: solid pink;
    width: 17cm;
    padding: 30px;
    color: rgb(2, 2, 44);
}
#edwinimage{
    /* border: solid; */
    border-radius: 50%;
    width: 5cm;
    height: 5cm;
}
.jecsonbusinessman{
    color: rgb(2, 2, 44);
    margin-right: 2cm;
}
.starrating{
   margin-left: 15cm;
   position: absolute;
   margin-top: -10cm;
}
#clientwords{
    font-style: italic;
}


.downloadmoileapp{
    display: flex;
    margin-top: 3cm;
    margin-left: 6cm;
   
}
.appusersnumbers{
    margin-left: 6cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    color: rgb(2, 2, 44);
}
#linkcontactus{
    font-weight: lighter;
    color: grey;
}
#contactus{
    color: rgb(2, 2, 44);
}
.footeratend{
    display: flex;
    justify-content: space-between;
    border: solid;
    padding: 2cm;
    background-color: rgb(2, 2, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 3cm;
    
}
.footeratend ul{
    list-style: none;
    color: white;
}
#footerheading{
    color: grey;
}
.footericons{
   margin-top: 2cm;
    color: white;
    font-size: x-large;
}